button {
    height: 40px;
    width: 80px;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
    font-family: "Lucida Grande", "Lucida Sans", "Verdana", sans-serif;
    
    border: none;
    
    /* padding: 10px 24px 10px 24px; */
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    letter-spacing: 0.5px;
    background-color: #Daaa00;
    /* background-image: linear-gradient(to bottom, #335179, #1A3E68); */
    color: white;
}
button:hover {
    color: #Daaa00;
    background-color: white; 
}
h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
    font-family: "Lucida Grande", "Lucida Sans", "Verdana", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    /* border: 1px solid #191919; */
    background: #002855;
    background-image: linear-gradient(to bottom, #335379, #002855);
    background-repeat: repeat-x;
}
